/*!Don't remove this!
 * jQuery DPopBox Plugin styles
 *
 * Author: Dionlee Uy
 * Email: dionleeuy@gmail.com
 *
 * Date: Wed Feb 20 2013
 */
.pop-overlay {
	display: none;
	position: fixed;
	top: 0; left: 0; right: 0; bottom: 0;
	z-index: 10;
}
	.pop-overlay.light { background-color: rgba(250, 250, 250, 0.8); }
	.pop-overlay.dark { background-color: rgba(10, 10, 10, 0.8); }
	.pop-overlay.none { background-color: transparent; }
.pop-wrapper {
	background-color:#fff;
	color: #000;
	position: fixed; top: 50%; left: 50%;
	display: none;
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	overflow: hidden;
	z-index: 15;
	width: 100%;
}
	.pop-overlay.light .pop-wrapper {
		/*border: 1px solid #D5D5D5;*/
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	.pop-overlay.dark .pop-wrapper {
		box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		-moz-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
		-webkit-box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
	}
	.pop-overlay.none .pop-wrapper {
		box-shadow: 0 0 6px #E5E5E5;
		-moz-box-shadow: 0 0 6px #E5E5E5;
		-webkit-box-shadow: 0 0 6px #E5E5E5;
	}
	.pop-wrapper .pop-title {
		font-size:17px;
		font-weight:bold;
		padding: 10px;
		margin: 0;
	}
	.pop-wrapper .pop-content {
		display: block;
		padding: 0 24px 16px 24px;
		background-color:#fff;
		text-align:justify;
		font-size: 14px;
		overflow: auto;
	}
		.pop-wrapper .pop-content.image { padding: 0; }
	.pop-wrapper .pop-close {
		position: absolute;
		cursor: pointer;
		font-weight: bold;
		line-height: 1;
	    padding: 4px;
	    font-family: Tahoma, sans-serif;
	    font-size: 16px;
	    color: #000 !important;
	    text-decoration: none !important;
		background-color: rgba(255,255,255,.2);
		top: 0; right:0;
		z-index: 1;
		transition: background-color 0.35s, color 0.35s;
		-moz-transition: background-color 0.35s, color 0.35s;
		-webkit-transition: background-color 0.35s, color 0.35s;
	}
		.pop-wrapper .pop-close:hover {
			background-color: #D5D5D5;
			color:#000;
		}
	.pop-wrapper .pop-footer {
		padding: 6px 10px;
		text-align: right;
		background-color: #EEE;
		border-top: 1px solid #DeDeDe;
	}
		.pop-wrapper .pop-footer .option {
			display: inline-block;
			cursor: pointer;
		}
			.pop-wrapper .pop-footer .option + .option { margin-left: 3px; }
	.pop-wrapper .img-loading {
		position: absolute;
		top: 0; bottom: 0; left: 0; right: 0;
		/*background: url('./img/img-loader.gif') #fff center no-repeat;*/
	}

/* Loader */
.pop-wrapper .preloader {
	position: absolute;
	left: 0;
	top: 0;
	width:28px;
	height:28px;
	padding:0px;
	border:2px solid;
	border-top-color:rgba(255,255,255, 0.85);
	border-bottom-color:rgba(255,255,255, 0.15);
	border-left-color:rgba(255,255,255, 0.85);
	border-right-color:rgba(255,255,255, 0.15);
	transform: translate(-50%,-50%);
	-moz-transform: translate(-50%,-50%);
	-webkit-transform: translate(-50%,-50%);
	border-radius:100%;
	-moz-border-radius:100%;
	-webkit-border-radius:100%;
	animation: preloader 0.8s linear infinite;
    -moz-animation: preloader 0.8s linear infinite;
	-webkit-animation: preloader 0.8s linear infinite;
}
@keyframes preloader {
    from { transform: rotate(0deg); }
    to { transform: rotate(360deg); }
}
@-webkit-keyframes preloader {
    from { -webkit-transform: rotate(0deg); }
    to { -webkit-transform: rotate(360deg); }
}

.features article .inner img .certificate {
	width: 100% !important;
}
