.not-found {
  text-align: center;
}

.back-home {
  margin: 40px auto;
  text-align: center;
  width: 180px;
  padding: 10px 25px;
  border-radius: 20px;
}

.back-home-text {
  font-size: 15px;
  font-weight: 600;
}
